body{
	background-color: lightgray;
}

*{
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;
	padding: 20px;
}

.edit{
	background: gray;
	width: 300px;
	margin: 0px 0px 0px 430px;
	color: white;
	font-size: 18px;
	padding: 20px;
	border-radius: 15px;
	margin-top: 50px;
}

input[type=text], input[type=password],input[type=email]{
	width: 200px;
	border: none;
	outline: 0;
	padding: 7px;
	border-radius: 3px;
}

label{
	color: white;
	font-weight: 600;
	font-family: sans-serif;
	font-size: 18px;
}

button{
	width: 200px;
	padding: 7px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 600;
	border:none;
	border-radius: 3px;
}